.tiles-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	padding: 6px;
}

.tile {
	border: 1px solid black;
	width: 220px;
	height: 170px;
	margin-bottom: 40px;
	margin: 6px;
	background-color: #333333;
	
}

.tile-title {
	font-size: 1.4em;
	padding: 40px 10px 40px 10px;
}

.ux-portfolio-gallery img {
	padding: 10px;
}